{#
  Half Circle Component
  Usage: {% include "components/half-circle.njk" %}

  Displays a full-width half-circle image
#}

<div class="w-full overflow-hidden" style="margin-left: calc(-50vw + 50%); margin-right: calc(-50vw + 50%); width: 100vw;">
  <h2 class="text-center text-7xl mb-2xl w-full mx-auto">we're sunsetting</h2>
  <div class="relative">
    <img
      src="/assets/images/half-circle.png"
      alt="Half circle decoration"
      class="w-full h-auto block"
      loading="lazy"
    >
    <p class="absolute top-1/2 text-3xl left-1/2 -translate-x-1/2 -translate-y-1/2 px-md text-center max-w-[45ch] text-dark">
      Eveniet et porro at facere soluta numquam fugit dolore quidem rem laudantium vel labore. Mollitia numquam reiciendis et aut nobis.
    </p>
  </div>
</div>