API_URL = https://rebuild-production.b-cdn.net
SITE_URL = https://www.rebuild.net

NOTION_TOKEN = XXX
NOTION_WEBHOOK_SECRET = XXX
NOTION_GATHERING_DB_ID = 2c9e2041555b809ba39fe450947db43b
NOTION_BUILDERS_DB_ID = 2b0e2041555b802f827bcc7a5cfece6b
NOTION_REBUILD1_DB_ID = 2e1e2041555b805ca953d385a01b7732

MAILERLITE_API_KEY = XXX
MAILERLITE_GROUP_ID = 173493800144995520
MAILERLITE_REBUILD1_GROUP_ID = 175939531088856249
MAILERLITE_NOTION_SYNC_GROUP_ID = 184181132480218688

PIRSCH_CODE = 7MINshjhivqQWUXqrMyKqKbUBcHP3LAB