---
layout: layouts/base.njk
---

{# Home page layout Renders splash outside of main container for full-width effect #} {# This
content block will contain the splash component #} {{ content | safe }}
