---
layout: layouts/base.njk
---

<div class="container">
  <section class="insights-listing pt-xl pb-2xl">
    <header class="mb-xl">
      <h1>{{ title | default("Insights") }}</h1>
      {% if description %}
        <div class="rich-text">
          {{ description | safe }}
        </div>
      {% endif %}
    </header>

    {{ content | safe }}
  </section>
</div>
