---
layout: layouts/default.njk
title: Get in touch
description: Don’t hesitate to get involved and start following. Get in touch if you want to share a social platform project, apply to join directory or simply share a thought.
permalink: /get-in-touch/index.html
---

<div class="container">
  {% include "components/page-header.njk" %}
</div>

<section class="pt-4xl pb-0 lg:pb-6xl">
  <div class="max-w-[1400px] mx-auto">
    {% set links = [
      { label: "Email us",           href: "mailto:team@rebuild.net" },
      { label: "Join the directory", href: "#", form: "builder-application" },
      { label: "Suggest a platform", href: "#", form: "builder-promo" },
      { label: "Follow us on Linkedin", href: "https://linkedin.com/company/rebuild-europe" },
      { label: "Get the newsletter", href: "#", form: "newsletter" }
    ] %}
    <div class="flex flex-col gap-y-xl">
      {% for link in links %}
      <div class="flex flex-row items-center space-x-lg lg:space-x-2xl">
        <div class="w-8 h-8 lg:w-20 lg:h-20 rounded-full bg-dark"></div>
        <a href="{{ link.href }}"{% if link.form %} data-form="{{ link.form }}"{% endif %} class="text-xl lg:text-8xl hover:underline">{{ link.label }}</a>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="mt-4xl pb-6xl">
    <h2 class="text-2xl lg:text-">
      <a class="underline" href="/downloads/rebuild-press-kit-dec25.zip">Download press kit</a>
    </h2>
  </div>

</section>