{#
  Simple Registration Form
  Usage: {% include "components/forms/simple-registration-form.njk" %}

  A simplified registration form with basic attendee information
#}

{% set simpleRegistrationFields = [
  {
    type: 'text',
    name: 'name',
    label: 'Name',
    required: true
  }, {
    type: 'email',
    name: 'email',
    label: 'Email',
    required: true
  }, {
    type: 'text',
    name: 'organisation',
    label: 'Organisation',
    required: true,
    helpText: 'What is your company/organisation called?'
  }, {
    type: 'select',
    name: 'country',
    label: 'Country',
    required: true,
    options: [
      'Albania',
      'Andorra',
      'Armenia',
      'Austria',
      'Azerbaijan',
      'Belarus',
      'Belgium',
      'Bosnia and Herzegovina',
      'Bulgaria',
      'Croatia',
      'Cyprus',
      'Czech Republic',
      'Denmark',
      'Estonia',
      'Finland',
      'France',
      'Georgia',
      'Germany',
      'Greece',
      'Hungary',
      'Iceland',
      'Ireland',
      'Italy',
      'Kazakhstan',
      'Kosovo',
      'Latvia',
      'Liechtenstein',
      'Lithuania',
      'Luxembourg',
      'Malta',
      'Moldova',
      'Monaco',
      'Montenegro',
      'Netherlands',
      'North Macedonia',
      'Norway',
      'Poland',
      'Portugal',
      'Romania',
      'Russia',
      'San Marino',
      'Serbia',
      'Slovakia',
      'Slovenia',
      'Spain',
      'Sweden',
      'Switzerland',
      'Türkiye',
      'Ukraine',
      'United Kingdom',
      'Vatican City'
    ],
    helpText: 'Where are you or your platform from?'
  }, {
    type: 'number',
    name: 'attendees',
    label: 'Number of Attendees',
    required: true,
    min: 1,
    helpText: 'How many people will attend from your organisation?'
  }, {
    type: 'hidden',
    name: 'form_type',
    value: 'application_rebuild1'
  }
] %}

{% set formId = 'application-rebuild1' %}
{% set action = site.apiUrl + '/api/application-rebuild1' %}
{% set method = 'POST' %}
{% set title = 'Rebuild1 Registration' %}
{% set description = 'Thank you for your interest in joining Rebuild1 in Copenhagen. Please fill in your details to register, then we will be in touch shortly after.' %}
{% set submitText = 'Register' %}
{% set submitVariant = 'primary' %}
{% set fields = simpleRegistrationFields %}
{% set successMessage = 'Thank you for registering! We will be in touch soon.' %}
{% set errorMessage = 'Sorry, we could not submit your registration. Please try again or contact us directly at team@rebuild.net.' %}
{% include "components/form.njk" %}