{# Newsletter Form - Sidebar Version #}
<div class="form-sidebar-content">
  <h2 class="text-3xl mb-md">Stay updated</h2>
  <p class="text-dark mb-lg">
    Get updates about new platforms, insights and gatherings.
  </p>
  {% set title = "" %}
  {% set description = "" %}
  {% include "components/forms/newsletter-form.njk" %}
</div>