---
layout: layouts/default.njk
title: Home
description: Building a better future together
---
{% from "components/text-section.njk" import render as textSection %}
{% from "components/outcomes.njk" import render as outcomes %}

<!-- Graphic Splash -->
<section id="hero-splash" class="hero-splash" style="background-color: #bf6e36;">
  <video autoplay loop muted playsinline class="hero-video" style="z-index: 1;">
    <source src="/assets/videos/circles3.mov" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="hero-content" style="z-index: 2;">
    <h1 class="hero-title">
      <a class="hover:underline" href="/about">Rebuild</a> European <a class="hover:underline" href="/tools#Social Platform Taxonomy">social</a>
      <a href="/directory" class="hover:underline">platforms.</a>
    </h1>

    {# Action Buttons #}
    <div class="flex flex-wrap gap-sm justify-center mt-xl md:mt-3xl mx-auto max-w-9xl">
      <button
        data-form="builder-promo"
        class="border-2 border-light px-sm py-xs text-light no-underline transition-all duration-fast hover:bg-light hover:text-dark focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue cursor-pointer bg-transparent"
      >
        Help map the platforms
      </button>

      <button
        data-form="builder-application"
        class="border-2 border-light px-sm py-xs text-light no-underline transition-all duration-fast hover:bg-light hover:text-dark focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue cursor-pointer bg-transparent"
      >
        Join as a platform
      </button>

      <button
        data-form="newsletter"
        class="border-2 border-light px-sm py-xs text-light no-underline transition-all duration-fast hover:bg-light hover:text-dark focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue cursor-pointer bg-transparent"
      >
        Stay involved
      </button>

      <button
        data-form="gathering-invitation"
        class="border-2 border-light px-sm py-xs text-light no-underline transition-all duration-fast hover:bg-light hover:text-dark focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue cursor-pointer bg-transparent"
      >
        Get invited to our first gathering
      </button>
    </div>
  </div>
</section>

<section class="py-3xl md:py-6xl">
  {{ textSection("Rebuild is a sprint for European social platforms. Connecting the entrepreneurs, the pioneers, the investors and the digital leaders building the next generation of social platforms. 
Through <span class='font-bold'>gatherings, programmes and tools.</span>") }}
</section>

<section id="explore" class="pb-3xl md:pb-6xl">
  {% include "components/carousel.njk" %}
</section>

<section class="pb-3xl md:pb-6xl">
  {% include "components/directory-preview.njk" %}
</section>

<section class="pb-3xl md:pb-6xl">
  {% include "components/programmes-preview.njk" %}
</section>

<section class="pb-4xl md:pb-7xl">
  {% include "components/insights-preview.njk" %}
</section>

<section class="">
  {{ textSection(' Three 48-hour gatherings Rebuild1, Rebuild2, and Rebuild3. Designed to connect, build, and act. Paris, Helsinki, and Copenhagen.') }}
</section>

<section class="">
  {% include "components/gatherings-preview.njk" %}
</section>

<section class="pb-3xl md:pb-6xl">
  {{ textSection('Rebuild1 is happening in 75 days.<br>Keynotes, work sessions, and demos of all social platforms.<br><br>Request form is open.<br>Copenhagen March 1st 15.00 - March 3rd 15.00.<br>Opening and grand social dinner starts 16.00.') }}
  {# CTA Button #}
  <div class="flex justify-center mt-xl">
    <button
        data-form="gathering-invitation"
        class="inline-block px-xl py-md bg-dark text-light text-lg md:text-xl hover:bg-darker transition-all duration-fast focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue cursor-pointer border-none"
      >
        Request an invitation to join the first gathering
      </button>
  </div>
</section>

{# <section class="pb-6xl">
  {{ outcomes(
    "After a year of building, these are the outcomes we hope to see...",
    [
      {
        "headline": "Industry organisation",
        "description": "Facilis quis vel et expedita saepe rerum labore blanditiis laborum. Voluptas ducimus ipsa nulla autem tempore autem ut dolor cum quos ipsa fugiat. Ea tempore aliquid dolorem dignissimos voluptas cum autem deleniti earum cumque."
      },
      {
        "headline": "Annual event",
        "description": "Facilis quis vel et expedita saepe rerum labore blanditiis laborum. Voluptas ducimus ipsa nulla autem tempore autem ut dolor cum quos ipsa fugiat. Ea tempore aliquid dolorem dignissimos voluptas cum autem deleniti earum cumque."
      },
      {
        "headline": "The big shift",
        "description": "Facilis quis vel et expedita saepe rerum labore blanditiis laborum. Voluptas ducimus ipsa nulla autem tempore autem ut dolor cum quos ipsa fugiat. Ea tempore aliquid dolorem dignissimos voluptas cum autem deleniti earum cumque."
      }
    ]
  ) }}
</section> #}

<section class="pb-3xl md:pb-6xl">
  {% include "components/engage.njk" %}
</section>

{% include "components/half-circle.njk" %}